.mySwiperr{

  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5px;
  }
 
  .swiper-slideee {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 250px;
  }
}
.swiper-slideee {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 250px;
  }
  .jcard{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5px;

  }